<header class="navbar navbar-dark navbar-expand-lg  bg-dark">
  <nav class="container">
    <a class="navbar-brand" href="/"><img width="150px" src="./assets/logo.png"> - BLOCKCHAIN</a>
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
  </nav>
</header>