/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "~bootstrap/scss/bootstrap";
@import "icons";

body {
    background: $main-background;
    font-family: 'Roboto', sans-serif;
}

.k-grid {
    width: 100%;
    max-width: 1110px;    
}